ARM_SUBSCRIPTION_ID=__SUBSCRIPTION_ID__
ARM_TENANT_ID=__TENANT_ID__

TF_VAR_location=japaneast
TF_VAR_resource_group_name=emr-group
TF_VAR_vnet_name=emr-vnet
TF_VAR_vnet_address_space='["10.0.0.0/16"]'
TF_VAR_allowed_ssh_ips=__ALLOWED_SSH_IPS__
TF_VAR_ssh_public_key_path=__SSH_PUBLIC_KEY_PATH__

TF_VAR_mariadb_vm_name=mariadb-vm
TF_VAR_mariadb_vm_size=Standard_B2ms
TF_VAR_mariadb_admin_username=mariadb
TF_VAR_mariadb_admin_password=Mariadb123!

TF_VAR_emr_vm_name=emr-vm
TF_VAR_emr_vm_size=Standard_B1ms
TF_VAR_emr_admin_username=openemradmin
TF_VAR_emr_admin_password=CHANGEME123!

ANSIBLE_ssh_private_key_path=__SSH_PRIVATE_KEY_PATH__
ANSIBLE_mariadb_root_password=CHANGEME123!
ANSIBLE_mariadb_openemr_dbname=openemr
ANSIBLE_mariadb_openemr_username=openemr
ANSIBLE_mariadb_openemr_password=CHANGEME123!

ANSIBLE_nginx_domain=
ANSIBLE_nginx_letsencrypt_email=

OPENEMR_REPO_URL=https://github.com/openemr/openemr.git
OPENEMR_BRANCH=rel-702

INFRACOST_API_KEY=__INFRACOST_API_TOKEN__

# Registered infrastructure outputs supplied by the resource provider.
MARIADB_PUBLIC_IP=
MARIADB_PRIVATE_IP=
EMR_PUBLIC_IP=
EMR_PRIVATE_IP=
